* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #2D1D18
}

/* ---------------------Form Stuff--------------------------- */
/* .form-box {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-panel {
    background-color: #2C2D31;
    height: 70vh;
    width: 60vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.form {
    font-size: 14px;
    align-items: center;
    width: 80%;
    position: relative;
    height: auto;
    color: white;
    top: 4px;
    left: 10px;
}

.form input {
    width: 100%;
    height: 100%;
    color: #f1f2f5;
    font-size: 14px;
    /* padding-top: 20px; */
    border: none;
    outline: none;
    background: transparent;
}

.form label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* .form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
} */

.content-name {
    position: absolute;
    transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateX(200%);
    font-size: 14px;
    opacity: 0;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);
}

.form-title {
    font-size: 10px;
    align-items: center;
    width: 80%;
    position: relative;
    height: auto;
    color: white;
    top: 0px;
    left: 8px;
}

.form-title input {
    width: 100%;
    height: 100%;
    color: #f1f2f5;
    font-size: 10px;
    /* padding-top: 20px; */
    border: none;
    outline: none;
    background: transparent;
}

.form-title label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.form-title input:focus+.label-name .content-name,
.form-title input:valid+.label-name .content-name {
    transform: translateX(200%);
    opacity: 0;
}

.form-title input:focus+.label-name::after,
.form-title input:valid+.label-name::after {
    transform: translateX(0%);
}


.form-description {
    font-size: 12px;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
    color: white;
    top: 0px;
    left: 0px;
}

.form-description input {
    width: 100%;
    height: 100%;
    color: #f1f2f5;
    font-size: 12px;
    /* padding-top: 20px; */
    border: none;
    outline: none;
    background: transparent;
}

.form-description label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.form-description input:focus+.label-name .content-name,
.form-description input:valid+.label-name .content-name {
    transform: translateX(200%);
    opacity: 0;
}

.form-description input:focus+.label-name::after,
.form-description input:valid+.label-name::after {
    transform: translateX(0%);
}

/* ---------------------END Form Stuff--------------------------- */
.npc-box {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.npc {
    height: 300px;
    width: 500px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), #2C2D31;
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    transform: scale(2, 2);
    box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);
}

.left-column {
    margin: 8px;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.portrait-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    width: 92px;
    height: 99px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.portrait img {
    width: 100%;
    height: 100%;
}

.p-overview {
    width: 100%;
    height: 29px;
    background: #333437;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portrait-box p {
    margin: 4px;
    font-size: 9px;
}

.skills {
    margin: 10px auto;
    height: 140px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.skills p {
    background-color: #333437;
    width: 100%;
    font-size: 9px;
    text-align: center;
}

.skill-box {
    margin: 1px auto 3px auto;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-level {
    margin: 1px auto;
    height: 6px;
    width: 6px;
    border: none;
    outline: 1px solid #616266;
    display: flex;
    cursor: pointer;
    background-color: rgba(129, 58, 58, 0);
    background-clip: border-box;
}

.right-column {
    margin: 8px 8px 8px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-box {
    width: 100%;
    height: 33px
}

.name {
    height: 26px;
    background-color: #333437;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    height: 12px;
    width: 187px;
    background-color: #3D3D41;
    position: relative;
    bottom: 6px;
    left: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-description {
    width: 95%;
    height: 95px;
    margin: 8px 0px;
    font-size: 12px;
    overflow: hidden;
}

.details-section {
    width: 100%;
    height: 100%;
    display: flex;
}

.personality {
    width: 50%;
    height: 100%;
    margin: 0px 1.5px 0px 0px;
}

.secret {
    width: 50%;
    height: 100%;
    margin: 0px 0px 0px 1.5px;
}

.city-title {
    font-size: 24px;
    position: relative;
    left: 12px;
}

.title-box {
    background-color: #3D3D41;
    width: 130px;
    height: 16px;
    position: relative;
    left: 12px;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-grid {
    background-color: #333437;
    height: 92%;
    position: relative;
    bottom: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 8px 0px 8px;
    font-size: 10px;
    display: grid;
    grid-template-columns: 8px auto;
    align-items: center;
}

.content-grid p {
    margin: 0px 0px 4px 4px;
}

.content-2 {
    margin: 0px 1.5px 0px 0px;
    background-color: #333437;
    height: 94px;
    position: relative;
    bottom: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skill-level.active {
    background-color: #813A3A;
}